
body{
    background-color:black;
}


h1, h2.banner{
    color:red;
    text-align: center;
}
p.about{
    color:red; 
 }

.navbar{
    background-color:black; 
 }

 nav ul li a:link{
     color:red;
 }

 .home_pic{
    width:70%;
    height:70%;
 }

 .about{
    width:20%;
    height:20%;
    float:left;
    
}

.about2{
    width:20%;
    height:20%;
    float:left;
}


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h2 .banner{
        display:none;
    }   
    .navbar{
        text-align:center;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    h2 .banner{
        display:none;
    }   
    .navbar{
        float:none;
        text-align:center;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        float:none;
        text-align:center;
    }   
} 

