/* body, h1, h2.banner, nav ul li a:link are for universal template for all pages */
body{
    background-color:black;
}

.banner{
    color:red;
    text-align: center;
}

/*#banner is for About page only*/

#banner{
    color:red;
}
/* this is for main heading on login, register, and results pages*/
.login{
    color:red;
}

.custom_form{
    color:red;
    width: 200px;
}

/*changes font color in form on login, register and search pages*/
}
div.container p {
    color:red;
}

p.about{
    color:red; 
    text-align:left;
 }

 .navbar{
    background-color:black;
 }

/* this is for the search page*/
div#dates, div#location, div#miles{
    color:red;
}

div#city{
    align-self: left;
}

div#submit{
     
}


 /*this is for the results page*/
 .results{
     color:red;
     text-align:left;
 }
 .table{
     color:red;
 }
 
 /*image on home page*/
 .home_pic{
    width:70%;
    height:70%;
 }


/* imgs on about page*/

 #about{
    width:30%;
    height:30%;
    float:right;
    margin-left:30px;
 }


#about2{
    width:30%;
    height:30%;
   }

#about3{
    width:35%;
    height:35%;
    float:right;
   }

#registerbtn{
    padding:20px;
}
/* table styling*/
.results{
    color:red;
  }


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h2 .banner{
        display:none;
    }   
    .navbar{
        text-align:center;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    h2 .banner{
        display:none;
    }   
    .navbar{
        float:none;
        text-align:center;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        float:none;
        text-align:center;
    }   
} 

